@font-face {
    font-family: "AlibabaPuHuiTi-Regular";
    src: url("../newFonts/AlibabaPuHuiTi-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "AlibabaPuHuiTi-SemiBold";
    src: url("../newFonts/AlibabaPuHuiTi-SemiBold.ttf") format("ttf");
}

